[submodule "plugin-repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "plugin-pydiction"]
	path = bundle/pydiction
	url = https://github.com/rkulla/pydiction.git
[submodule "plugin-ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "plugin-nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "plugin-AsyncCommand"]
	path = bundle/AsyncCommand
	url = https://github.com/pydave/AsyncCommand.git
[submodule "plugin-surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "plugin-neocomplcache"]
	path = bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "plugin-echofunc"]
	path = bundle/echofunc
	url = https://github.com/mbbill/echofunc.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/gtags.vim"]
	path = bundle/gtags.vim
	url = https://github.com/vim-scripts/gtags.vim.git
